@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Inter:wght@300;400;500;600;700&display=swap');

$backgroundColor: #ffffff;
$bodyColor: #000000;
$linkColor: #212529 !important;

h1, h2, h3, h4, h5, h6 {
  font-family: 'Inter', sans-serif; 
}  

.fw-bold {
    font-weight: 600 !important;
}

body {
  font-family: 'DM Sans', sans-serif; 
}
 
body a {
  Color: $linkColor;
  text-decoration:none;
  border-bottom: 4px solid #dde9e5;
}

body a:hover {
  text-decoration:none;
  background-color: #dde9e5;
  border-bottom: none;
}

tbody, td, tfoot, th, thead, tr {
    border-color:#dad9d8;
    border-width: thin;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: solid;
    border-left-style: none;
    line-height: 3rem;
}
 
